table {
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    text-align: center;
}

td {
    border: 2px solid #000000;
    padding: 5px;
}

.woll {
    min-height: 278px;

}

body {
    background: url("money.jpg");
}

#zmien {
    text-align: center;
}
.nav-start {
    margin-left: 5%;
}
