table {
    border-collapse: collapse;
    width: 100%;
    height: 250px;
    text-align: center;
}

tr, .oneLine{
    border: 2px solid #000000;
    padding: 5px;
    min-width: 100px;

}

.woll {
    min-height: 278px;

}

body {
    background: url("../images/money.jpg");
}

.lastMargin{
    margin-bottom: 15%;
}
.comunicatErr {
    color: rgba(255, 11, 0, 0.97);
}

