<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="col-md-offset-4">
                    <h2 class="nav-start">{{mainCtrl.message}}</h2>
                    <input type="number" ng-model="mainCtrl.amount" aria-label="amount">
                    <button ng-click="mainCtrl.wallet.pln = mainCtrl.amount">Nowa kwota startowa</button>
                    <button ng-click="mainCtrl.wallet.$reset({})">Clear localStorage</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Aktualny kurs walut i stan srodkow</h2></div>
            <div class="panel-body">

                <table>
                    <tr>
                        <th>
                            Waluta
                        </th>
                        <th>
                            Kupno
                        </th>
                        <th>Sprzedaz</th>
                        <th class="oneLine">Posiadana Kwota</th>
                    </tr>
                    <tr>
                        <th>PLN</th>
                        <th></th>
                        <th></th>
                        <th>{{mainCtrl.wallet.pln}}</th>
                    </tr>
                    <tr ng-repeat="currency in mainCtrl.arrayCurrency">
                        <th>{{currency.code}}</th>
                        <th>{{currency.ask}}</th>
                        <th>{{currency.bid}}</th>
                        <th class="oneLine">--</th>
                    </tr>
                </table>


            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Wymiana Walut</h2>
            </div>
            <div class="panel-body body-calc">
                <div class="row">
                    <div>
                        <form name="myForm">
                            <label> Wybierz walute:</label>
                            <select class="form-control" ng-model="mainCtrl.data.model" ng-change="mainCtrl.getCurrency(mainCtrl.data.model)">
                                <option ng-repeat="option in mainCtrl.data.availableOptions" value="{{option.name}}">{{option.name}}</option>
                            </select>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-3">
                            <span class="badge" id="newValueForBuy">{{mainCtrl.data.model}} {{mainCtrl.money}}</span>
                        </div>
                        <div class="input-group col-md-6 col-md-offset-3">
                            <h2>Kup</h2>
                            <div class="tour">
                                <p>
                                    <input type="number" ng-model="mainCtrl.amountForBay" ng-change="mainCtrl.getCurrency(mainCtrl.data.model)" aria-label="amountForBay">
                                </p>
                            </div>
                            <div class="input-group body-calc1">
                                <p>Za <span id="pln11-count">{{mainCtrl.amountForBay}}</span> Trzeba zapłacić <span id="newWaluteForBuy">{{mainCtrl.buy}}</span> PLN</p>
                                <button ng-click="mainCtrl.confirmBuy()">Zatwierdz</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div>
                            <span class="badge">{{mainCtrl.data.model}} {{mainCtrl.moneyInSell}}</span>
                        </div>
                        <div class="input-group body-calc1 col-md-6">
                            <h2>Sprzedaj</h2>
                            <div class="tour">
                                <p>
                                    <input type="number" ng-model="mainCtrl.amountForSell" ng-change="mainCtrl.getCurrency(mainCtrl.data.model)" aria-label="amountForSell">
                                </p>
                            </div>
                            <div class="input-group body-calc1">
                                <p>Za <span id="plnViewInSell">{{mainCtrl.amountForSell}}</span> Otrzymasz <span id="oldWaluteForBay">{{mainCtrl.sell}}</span> PLN</p>
                                <button class="btn btn-default" type="button" id="saveInSell">Zatwierdz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

